<%= render 'pages/private_user/header2' %>
<p id="notice"><%= notice %></p>

<section class="signin">
  <div class="text-center">
  <h2 class="pb-2 border-bottom h3 mb-1 fw-normal" style="padding: 2rem">Cadastrar Admin</h2>
    <div calss="form-signin w-100 m-auto" style="max-width: 330px; padding: 15px; margin: auto; padding-top: 3rem;">

        <%= form_for @admin, url: user_admin_create_path, method: :post do |form| %>
        <%= render "devise/shared/error_messages", resource: @admin %> 
          <!--h1 class="h3 mb-3 fw-normal">sign in</h1-->

          <div class="form-floating">
            <%= form.email_field :email, class:"form-control", id:"floatingInput", placeholder:"name@example.com" %>
            <label for="floatingInput">Email</label>
          </div>
          <div class="form-floating">
            <%= form.password_field :password, class:"form-control", id:"floatingPassword", placeholder:"senha" %>
            <label for="floatingPassword">Senha</label>
          </div>
          <div class="form-floating" style="margin-bottom: 2rem;">
            <%= form.password_field :password_confirmation, class:"form-control", id:"floatingPassword", placeholder:"senha" %>
            <label for="floatingPassword">Confirmar Senha</label>
          </div>
          <button class=" w-100 btn-lg btn btn-outline-success my-2 my-sm-0" type="submit">Salvar</button>

        <% end %>

      </div>
    </div>
  </div>
</section>