<%= render 'pages/private_user/header' %>
<p id="notice"><%= notice %></p>

<section class="how-it-works-sec" id="faq" style="height: -webkit-fill-available; margin-bottom: -4rem;">
  <div class="container px-4 py-5 sobre faq" id="featured-3">
    <h2 class="pb-2 border-bottom">Rendimento Mensal da Empresa</h2>
    <div class="accordion" id="accordionExample" style="max-height: 500px; overflow-y: auto;">
      <table class="table table-hover table-dark" >

        <thead style="position: sticky !important; top: 0 !important; z-index: 1;">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Mês</th>
            <th scope="col">Ano</th>
            <th scope="col">Visualizar</th>
          </tr>
        </thead>
        <tbody>
          <% Income.all.order(reference_date: :desc).each do |income| %>
            <tr>
              <th scope="row">1</th>
              <td><%= @meses[income.reference_date.month - 1] %></td>
              <td><%= income.reference_date.year %></td>
              <td> <Button onclick='textModal("Rendimento <%= @meses[income.reference_date.month-1]%>/<%= income.reference_date.year %>","img_1.jpeg")' type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModalScrollable"> <i class="bi bi-eye-fill"></i> </button> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalScrollable" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">

      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalScrollableTitle">Rendimento <%= @meses[7-1] %>/2022</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <div class="carousel-item active" style="display: flex; align-items: center; justify-content: center;">
              <%= image_tag("rendimento_exemplo", :alt => "", :class=> "d-inline-block align-text-top", 'aria-hidden' => "true", :preserveAspectRatio => "xMidYMid slice", :focusable => "false", :id => "img_income", :style => "height: -webkit-fill-available;") %>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<script>
  function textModal(title, text) {
    document.getElementById("exampleModalScrollableTitle").innerText=title;
    //document.getElementById("img_income").src=text;
  }
</script>