<%= render 'pages/private_user/header2' %>
<p id="notice"><%= notice %></p>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script>
  function textModal(entrada) {
     return entrada;
  }
</script>
<section class="how-it-works-sec" id="faq" style="height: -webkit-fill-available; margin-bottom: -4rem;">
  <div class="container px-4 py-5 sobre faq" id="featured-3">
    <h2 class="pb-2 border-bottom" style="color: #198754">Editar Dados do Usuario</h2>
    <br>
      <input class="form-control" id="myInput" type="text" placeholder="Procurar..">
    <br>
    <div class="accordion" id="accordionExample" style="max-height: 300px; overflow-y: auto;">
      <table class="table table-hover table-dark" >

        <thead style="position: sticky !important; top: 0 !important; z-index: 1;">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Email</th>
            <th scope="col">Contrato</th>
            <th scope="col">Versão do Contrato</th>
            <th scope="col">Valor do Contrato</th>
            <th scope="col">Ação</th>
          </tr>
        </thead>
        <tbody id="myTable">
          <% ContractHistoric.where(status:true).each_with_index do |contracthistoric, index| %>
            <%= hidden_field_tag "user", contracthistoric.contract.user.id %>
            <tr>
              <th scope="row"><%= index%></th>
              <td><%= contracthistoric.contract.user.email %></td>
              <td><%= contracthistoric.contract.number %></td>
              <td><%= contracthistoric.open_date %></td>
              <td><%= contracthistoric.value %></td>
              <td>  
                <!-- Default dropright button -->
                <div class="btn-group dropright">
                  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          
                  </button>
                  <div class="dropdown-menu">
                    <!-- Dropdown menu links -->
                    <!--Button onclick='textModal("Rendimento <%#= @meses[income.reference_date.month-1]#%>/<%#= income.reference_date.year #%>","img_1.jpeg")' type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModalScrollable"> <i class="bi bi-eye-fill"></i> </button-->
                    <a class="dropdown-item"  href="/user/manager/<%=contracthistoric.id%>"><button id="<%= @num=index %>" name="<%= contracthistoric.id %>" type="button" class="btn btn-outline-success" >Inserir extrato</button></a>
                    <a class="dropdown-item"  href="/user/edit/<%=contracthistoric.id%>"><button type="button" class="btn btn-outline-success" >Editar dados</button></a>
                    <a class="dropdown-item"  href="#"><button type="button" class="btn btn-outline-success" >Atualizar contrato</button></a>
                    <a class="dropdown-item"  href="/user/contract_new?user_id=<%=contracthistoric.contract.user.id%>"><button type="button" class="btn btn-outline-success" >Criar contrato</button></a>
                    <a class="dropdown-item"  href="/contracts/<%=contracthistoric.contract.id%>", data-method="delete", data-confirm="Apagar contrato?"><button type="button" class="btn btn-outline-success" >delete</button></a>
                    
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</section>

<script>
  function textModal(a) {
    console.log(a);
    return a;
    //document.getElementById("exampleModalScrollableTitle").innerText=title;
    //document.getElementById("img_income").src=text;
  }

  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });

</script>
