<p id="notice"><%= notice %></p>

<p>
  <strong>Reference date:</strong>
  <%= @income.reference_date %>
</p>

<p>
  <strong>Income doc:</strong>
  <%= @income.income_doc %>
</p>

<%= link_to 'Edit', edit_income_path(@income) %> |
<%= link_to 'Back', incomes_path %>
