<%= form_with(model: contract_historic) do |form| %>
  <% if contract_historic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contract_historic.errors.count, "error") %> prohibited this contract_historic from being saved:</h2>

      <ul>
        <% contract_historic.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="field">
    <%= form.label :num_portion %>
    <%= form.text_field :num_portion %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :open_date %>
    <%= form.text_field :open_date %>
  </div>

  <div class="field">
    <%= form.label :contract_id %>
    <%= form.text_field :contract_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
