<main class="signin">  
  <div class="text-center">  
    <div class="form-signin w-100 m-auto">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= image_tag("ED-LOGO-SOMBRA-TRADER.png", :alt => "", :width => "72", :height => "57", :class=> "mb-4") %>
        <h1 class="h3 mb-3 fw-normal">sign in</h1> 

        <div class="form-floating">
          <%= f.email_field :email, class:"form-control", id:"floatingInput", placeholder:"name@example.com" %>
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <%= f.password_field :password, class:"form-control", id:"floatingPassword", placeholder:"Password" %>
          <label for="floatingPassword">Password</label>
        </div>  
        <% if devise_mapping.rememberable? %>
          <div class="checkbox mb-3">
            <label>
              <%= f.check_box :remember_me %> Remember me
            </label>
          </div>
        <% end %>
        <button class=" w-100 btn-lg btn btn-outline-success my-2 my-sm-0" type="submit">Sign in</button>
        <!--p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p-->
      <% end %>
    </div>
  </div>
<main>